header {
  color: white;
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

body {
  background-color: lightsteelblue;
  margin: 0.1;
  font-family: monospace;
}

img {
  display: block;
  margin: 0 auto 0 auto;
  width: auto;
}

li:hover {
  background: rgb(150,255,255);
  border-radius: 50%;
  transition: 1s;
}

a {
  background-color: pink;
  color: white;
  margin: 0 auto 0 auto;
  display: block;
  text-align: center;
}

a:hover {
  background: rgb(0,255,105);
  transform: rotate(180deg);
  transition: 1.5s;
}

img:hover {
  height: 30vmin; 
  width: 50vmin;
}

h1 {
  color: #000;
  background-color: aqua;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  color: d;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}


h2 {
  color: #000;
  background-color: aqua;
  margin: 0;
  color: d;
  font-family: monospace;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

h3 {
  background-color: midnightblue;
  margin: 0;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-bottom: .5rem;
  font-stretch: ultra-condensed;
  font-family: monospace;
  color: white;
  border-width: thick;
}

article ol li {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background: cadetblue;
  color: white;
  font-family: monospace;
  font-size: 16pt;
  border-color: black; 
}